In [1]:
import opendatasets as od
import pandas as pd

## 1st step is to **download** the data set from kaggle

In [3]:
ds_url =  'https://www.kaggle.com/khsamaha/aviation-accident-database-synopses'
od.download_kaggle_dataset(ds_url,'.\data')

ds_filepath = '.\\data\\aviation-accident-database-synopses\\AviationData.csv'
states_filepath = '.\\data\\aviation-accident-database-synopses\\USState_Codes.csv'

aviation_ds = pd.read_csv(ds_filepath, encoding='ISO-8859-1')
states_ds = pd.read_csv(states_filepath, encoding='ISO-8859-1')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
  0%|          | 0.00/4.04M [00:00<?, ?B/s]Downloading aviation-accident-database-synopses.zip to .\data\aviation-accident-database-synopses
100%|██████████| 4.04M/4.04M [00:01<00:00, 3.40MB/s]

## 2nd step is to explore the datasets

In [4]:
aviation_ds.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'LOCATION', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [5]:
aviation_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85976 entries, 0 to 85975
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                85976 non-null  object
 1   Investigation.Type      85963 non-null  object
 2   Accident.Number         85976 non-null  object
 3   Event.Date              85976 non-null  object
 4   LOCATION                85898 non-null  object
 5   Country                 85469 non-null  object
 6   Latitude                31587 non-null  float64
 7   Longitude               31578 non-null  float64
 8   Airport.Code            48612 non-null  object
 9   Airport.Name            51298 non-null  object
 10  Injury.Severity         85842 non-null  object
 11  Aircraft.damage         83047 non-null  object
 12  Aircraft.Category       29226 non-null  object
 13  Registration.Number     81756 non-null  object
 14  Make                    85908 non-null  object
 15  Model                   85877 non-null  object
 16  Amateur.Built           85296 non-null  object
 17  Number.of.Engines       80399 non-null  float64
 18  Engine.Type             80872 non-null  object
 19  FAR.Description         28929 non-null  object
 20  Schedule                12179 non-null  object
 21  Purpose.of.flight       80584 non-null  object
 22  Air.carrier             4591 non-null   object
 23  Total.Fatal.Injuries    58158 non-null  float64
 24  Total.Serious.Injuries  55466 non-null  float64
 25  Total.Minor.Injuries    56695 non-null  float64
 26  Total.Uninjured         71092 non-null  float64
 27  Weather.Condition       82304 non-null  object
 28  Broad.phase.of.flight   78382 non-null  object
 29  Report.Status           84983 non-null  object
 30  Publication.Date        70326 non-null  object
dtypes: float64(7), object(24)
memory usage: 20.3+ MB

In [6]:
aviation_ds['Investigation.Type'].unique()

array(['Accident', 'Incident', nan], dtype=object)

In [7]:
aviation_ds['Event.Date'] = pd.to_datetime(aviation_ds['Event.Date'])

In [20]:

def get_state(text):
    return str(text)[-2:]

aviation_ds['Event.State'] = aviation_ds[aviation_ds['Country']=='United States']['LOCATION'].apply(get_state)
aviation_ds['Event.State'].unique()

array(['WI', 'CB', 'AK', 'FL', 'WY', 'MO', 'VA', 'AZ', 'UT', 'SC', 'CA',
       'ID', 'MI', 'MA', 'LA', 'CO', 'TN', 'IA', 'WA', 'TX', 'MT', 'NC',
       'OR', 'GA', 'NV', 'AL', 'NY', 'OK', 'AR', 'NH', 'MN', 'PA', 'MS',
       'IL', 'NE', 'ME', 'SD', 'IN', 'KS', 'DE', 'NJ', 'KY', 'OH', 'ND',
       'HI', 'NM', 'MD', 'CT', 'RI', nan, 'VT', 'PR', 'O,', 'an', 'WV',
       'UN', 'GM', 'VI', 'MP', 'AO', 'PO', 'GU', 'MH', 'FN', 'DC', 'ON'],
      dtype=object)

In [21]:
aviation_ds['Country'].describe()

count             85469
unique              185
top       United States
freq              80132
Name: Country, dtype: object

In [29]:
aviation_ds['Injury.Severity'].unique()

array(['Fatal', 'Minor', 'Non-Fatal', 'Siruose', nan, 'Unavailable',
       'Incident', 'Fatal(1)', 'Fatal(2)', 'Fatal(8)', 'Fatal(5)',
       'Fatal(3)', 'Fatal(4)', 'Fatal(9)', 'Fatal(176)', 'Fatal(7)',
       'Fatal(29)', 'Fatal(6)', 'Fatal(10)', 'Fatal(11)', 'Fatal(14)',
       'Fatal(41)', 'Fatal(157)', 'Fatal(188)', 'Fatal(112)', 'Fatal(71)',
       'Fatal(12)', 'Fatal(39)', 'Fatal(16)', 'Fatal(66)', 'Fatal(62)',
       'Fatal(23)', 'Fatal(224)', 'Fatal(150)', 'Fatal(43)', 'Fatal(162)',
       'Fatal(58)', 'Fatal(295)', 'Fatal(239)', 'Fatal(33)', 'Fatal(50)',
       'Fatal(21)', 'Fatal(19)', 'Fatal(153)', 'Fatal(127)', 'Fatal(28)',
       'Fatal(77)', 'Fatal(42)', 'Fatal(158)', 'Fatal(103)', 'Fatal(89)',
       'Fatal(90)', 'Fatal(152)', 'Fatal(228)', 'Fatal(17)', 'Fatal(13)',
       'Fatal(24)', 'Fatal(88)', 'Fatal(65)', 'Fatal(154)', 'Fatal(30)',
       'Fatal(20)', 'Fatal(40)', 'Fatal(57)', 'Fatal(199)', 'Fatal(114)',
       'Fatal(102)', 'Fatal(96)', 'Fatal(49)', 'Fatal(124)', 'Fatal(113)',
       'Fatal(107)', 'Fatal(117)', 'Fatal(145)', 'Fatal(45)',
       'Fatal(160)', 'Fatal(121)', 'Fatal(15)', 'Fatal(104)', 'Fatal(25)',
       'Fatal(55)', 'Fatal(46)', 'Fatal(141)', 'Fatal(115)', 'Fatal(75)',
       'Fatal(206)', 'Fatal(138)', 'Fatal(92)', 'Fatal(26)', 'Fatal(265)',
       'Fatal(118)', 'Fatal(44)', 'Fatal(64)', 'Fatal(18)', 'Fatal(83)',
       'Fatal(143)', 'Fatal(60)', 'Fatal(131)', 'Fatal(169)',
       'Fatal(217)', 'Fatal(80)', 'Fatal(229)', 'Fatal(87)', 'Fatal(52)',
       'Fatal(97)', 'Fatal(35)', 'Fatal(125)', 'Fatal(349)', 'Fatal(34)',
       'Fatal(70)', 'Fatal(230)', 'Fatal(110)', 'Fatal(123)',
       'Fatal(189)', 'Fatal(72)', 'Fatal(54)', 'Fatal(68)', 'Fatal(132)',
       'Fatal(37)', 'Fatal(56)', 'Fatal(47)', 'Fatal(27)', 'Fatal(73)',
       'Fatal(111)', 'Fatal(174)', 'Fatal(144)', 'Fatal(270)',
       'Fatal(156)', 'Fatal(82)', 'Fatal(256)', 'Fatal(31)', 'Fatal(135)',
       'Fatal(78)'], dtype=object)

In [32]:
aviation_ds['Model'].unique()

array(['Vtwin', '206', 'M-6-235', ..., '23-250', '305 (L-19)',
       'WCS-222 (BELL 47G)'], dtype=object)