In [5]:
import opendatasets as od
import pandas as pd

## 1st step is to **download** the data set from kaggle

In [2]:
ds_url =  'https://www.kaggle.com/khsamaha/aviation-accident-database-synopses'
od.download_kaggle_dataset(ds_url,'.\data')

ds_filepath = '.\\data\\aviation-accident-database-synopses\\AviationData.csv'
states_filepath = '.\\data\\aviation-accident-database-synopses\\USState_Codes.csv'

aviation_ds = pd.read_csv(ds_filepath, encoding='ISO-8859-1')
states_ds = pd.read_csv(states_filepath, encoding='ISO-8859-1')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
  0%|          | 0.00/4.04M [00:00<?, ?B/s]Downloading aviation-accident-database-synopses.zip to .\data\aviation-accident-database-synopses
100%|██████████| 4.04M/4.04M [00:01<00:00, 3.95MB/s]

## 2nd step is to explore the datasets

In [3]:
aviation_ds.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'LOCATION', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [6]:
aviation_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85976 entries, 0 to 85975
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                85976 non-null  object
 1   Investigation.Type      85963 non-null  object
 2   Accident.Number         85976 non-null  object
 3   Event.Date              85976 non-null  object
 4   LOCATION                85898 non-null  object
 5   Country                 85469 non-null  object
 6   Latitude                31587 non-null  float64
 7   Longitude               31578 non-null  float64
 8   Airport.Code            48612 non-null  object
 9   Airport.Name            51298 non-null  object
 10  Injury.Severity         85842 non-null  object
 11  Aircraft.damage         83047 non-null  object
 12  Aircraft.Category       29226 non-null  object
 13  Registration.Number     81756 non-null  object
 14  Make                    85908 non-null  object
 15  Model                   85877 non-null  object
 16  Amateur.Built           85296 non-null  object
 17  Number.of.Engines       80399 non-null  float64
 18  Engine.Type             80872 non-null  object
 19  FAR.Description         28929 non-null  object
 20  Schedule                12179 non-null  object
 21  Purpose.of.flight       80584 non-null  object
 22  Air.carrier             4591 non-null   object
 23  Total.Fatal.Injuries    58158 non-null  float64
 24  Total.Serious.Injuries  55466 non-null  float64
 25  Total.Minor.Injuries    56695 non-null  float64
 26  Total.Uninjured         71092 non-null  float64
 27  Weather.Condition       82304 non-null  object
 28  Broad.phase.of.flight   78382 non-null  object
 29  Report.Status           84983 non-null  object
 30  Publication.Date        70326 non-null  object
dtypes: float64(7), object(24)
memory usage: 20.3+ MB

In [9]:
aviation_ds['Investigation.Type'].unique()

array(['Accident', 'Incident', nan], dtype=object)

In [12]:
aviation_ds['Event.Date'] = pd.to_datetime(aviation_ds['Event.Date'])

In [24]:

def get_state(text):
    return str(text)[-2:]

aviation_ds['Event.State'] = aviation_ds['LOCATION'].apply(get_state)
aviation_ds['Event.State']

0        WI
1        CB
2        AK
3        WI
4        FL
         ..
85971    OH
85972    CA
85973    VA
85974    CA
85975    ID
Name: Event.State, Length: 85976, dtype: object